---
const { testTitle } = Astro.props;

---

<!-- Layout de la aplicaci贸n --><!doctype html>
<html lang="en">
	<head>
		<script>
			// On page load or when changing themes, best to add inline in `head` to avoid FOUC
		</script>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Aplicaci贸n de gesti贸n de datos" />
		<meta name="keywords" content="graficar, datos, gesti贸n,ph,temp" />
		<title>{testTitle}</title>
		<script>
			if (
				!localStorage.getItem("isAuth") &&
				!["/login", "/register", "/404"].includes(
					window.location.pathname,
				)
			) {
				window.location.href = "/login";
			}
		</script>
	</head>
	<body
		class="flex flex-col h-full bg-[#ffffff] dark:bg-[#1d1f21] overflow-x-hidden"
	>
		<script></script>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
