---
const { testTitle } = Astro.props;
---

<!-- Layout de la aplicación --><!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{testTitle}</title>
		<script>
			
		</script>
	</head>
	<body class="flex flex-col h-screen bg-[#ffffff] dark:bg-[#1d1f21]">
		<script>
			if (
				!localStorage.getItem("isAuth") &&
				!["/login", "/register", "/404"].includes(
					window.location.pathname,
				)
			) {
				window.location.href = "/login";
			}
		</script>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
